/*Contenedor principal*/
.carousel-section {
  margin-bottom: 2rem;
}

/*Carrusales*/
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
}

/*Titulo de cada tipo (top 10...)*/
.carousel-section h1{
  text-align: left;
}

/*Tarjetas de las series/pelis*/
.carousel-card {
  flex: 0 0 auto;
  width: 140px;      
  height: 210px;      
  border-radius: 10px;
  border: 1px solid white;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

.carousel-card:hover {
  transform: scale(1.03);
}

.carousel-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Flechas de derecha e izquierda*/
.scroll-button {
  background:none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*Quitar scroll (barras)*/
html, body {
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;    
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;         
}
