/* Fondo general */
.detail-page {
  min-height: 100vh;
  background-image: url("../assets/fondo-formato-bueno.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 20px 40px;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/*Flecha para volver atras*/
.back-button {
  position: absolute;
  top: 25px;
  left: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1000; 
  transition: transform 0.2s;
}

.back-button:hover {
  transform: scale(1.2);
}

/*Contenedor de la pagina*/
.detail {
  display: flex;
  align-items: top;
  flex-direction: row-reverse;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

/*Imagen de la serie*/
.banner-image {
  width: 650px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 50px;
}

/*Datos de cada serie*/
.info h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.data {
  display: flex;
  flex-direction: row;
}

.row1{
  margin-right:80px;
}

/*Botones*/
.buttons-rep{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

/*Boton de reproducir*/
.btn.play {
  background: linear-gradient(90deg, #a23fd0, #c35ff5);
  color: #fff;
  border: none;
  width: 50%;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

/*Iconos*/
.images{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.images button{
  background: none;
  border: none;
  height: 100%;
}

.images button img{
  cursor: pointer;
  height: 40px;
  margin-right: 20px;
}

/*Quitar scroll*/
html, body {
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;    
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;         
}

.like-image.active {
  filter: hue-rotate(0deg) saturate(5) brightness(0.8);
}

.star-image.active {
  filter: hue-rotate(0deg) saturate(5) brightness(0.8);
}

