/* Contenedor principal */
.home-container {
  min-height: 100vh;
  background-image: url("../assets/fondo-formato-bueno.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 20px 40px;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/* Menú superior */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(30, 30, 60, 0.85);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 12px 20px;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Contenedor izquierdo */
.menu-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Contenedor central */
.menu-center {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto; 
}

/*Volver atrás*/
.back-point {
  cursor: pointer;
}

/* Botón + para admin */
.add-button {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  color: #fff;
  background-color: #c35ff5;
  font-size: 20px;
  padding-bottom: 5px;
  border: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

/* Icono de perfil */
.profile-icon{
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  color: #fff;
  background-color: #c35ff5;
  font-weight: 700;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.18);
}
.user-icon {
  width: 27px;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

/* Botones del menú central */
.top-menu .menu-center button{
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  transition: color 0.2s ease;
}

/* Hover solo desde el segundo botón */
.top-menu .menu-center button:hover {
  color: #c35ff5;
}

/* Buscador */
.search-input {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background-color: #c35ff5;
  color: white;
  outline: none;
}

.search-input::placeholder {
  color: #d0d0ff;
}

/* Título principal */
.home-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}



/* Tarjetas de contenido */

.featured-banner {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 30px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.featured-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  display: block;
}

.featured-label {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #6c3fa9;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 24%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
