html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor principal*/
.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/fondo-formato-bueno.png");       
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  color: white;
  gap: 3rem;
}

/* Título */
.index-title {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 4px 6px rgba(0,0,0,0.8);
}

/* Contenedor de botones */
.index-buttons {
  display: flex;
  flex-direction: column; 
  width: 20%;
  gap: 1.5rem;
}

/* Botones */
.index-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 3rem;
  margin-bottom: 20px;
  border-radius: 60px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s, transform 0.2s;
}
.index-btn:hover {
  transform: scale(1.05);
}

/* Botón morado (registrarse)*/
.index-btn-purple {
  background-color: #7c3aed;
  color: white;
}
.index-btn-purple:hover {
  background-color: #9d5ff7; 
}

/* Botón azul (iniciar sesion)*/
.index-btn-blue {
  background-color: #3b82f6;
  color: white;
}
.index-btn-blue:hover {
  background-color: #60a5fa; 
}

/*Quitar scroll*/
html, body {
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;    
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;         
}
