/* Loading */
.loading-screen {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/fondo-formato-bueno.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(128, 0, 128, 0.2); 
  border-top: 6px solid #800080; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*Quitar scroll*/
html, body {
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;    
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;         
}
