/* Fondo con ondas neón */
.login-container {
  min-height: 100vh;    
  background-image: url("../assets/fondo-formato-bueno.png");               
  background-size: cover;       
  background-position: center;
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

/* Flecha de volver */
.back-button {
  position: absolute;
  top: 25px;
  left: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1000; 
}

.back-button:hover {
  transform: scale(1.2);
}

/* Título */
.login-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 400px;
  background-color: rgba(180, 180, 180, 0.178); 
  padding: 20px;
  border-radius: 12px;
}

/*Inputs*/
.login-form input {
  padding: 12px 20px;
  width: 90%;
  border: none;
  border-radius: 20px;
  background-color: rgba(70, 70, 160, 0.8);
  color: white;
  font-size: 1rem;
  outline: none;
}

.login-form input::placeholder {
  color: #d0d0ff;
}

/*Boton de continuar*/
.continue-btn {
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #a23fd0, #c35ff5);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.continue-btn:hover {
  background: linear-gradient(90deg, #c35ff5, #e480ff);
}

/*Mensaje de error*/
.error {
  color: #d32f2f;       
  font-size: 0.85rem;   
  margin-top: 4px;      
}

/*Quitar scroll*/
html, body {
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;    
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;         
}
