/*Contenedor principal*/
.settings-container {
  min-height: 100vh;    
  background-image: url("../assets/fondo-formato-bueno.png");               
  background-size: cover;       
  background-position: center;
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

/*Flecha para volver atras*/
.back-button {
  position: absolute;
  top: 25px;
  left: 25px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1000; 
  transition: transform 0.2s;
}
.back-button:hover {
  transform: scale(1.2);
}

/*Titulo*/
.settings-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

/*Contenedor de botones*/
.settings-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80%;
  max-width: 400px;
  background-color: rgba(180, 180, 180, 0.178); 
  padding: 30px;
  border-radius: 12px;
  align-items: center;
}

/*Botón de cerrar sesión*/
.settings-logout-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(52, 52, 156, 0.8), rgba(70, 70, 160, 0.8));
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}
.settings-logout-btn:hover {
  background: linear-gradient(90deg, rgba(52, 52, 156, 0.8), rgba(70, 70, 160, 0.8));
}
/* Boton de eliminar cuenta */
.settings-delete-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #c35ff5, #e480ff);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}
.settings-delete-btn:hover {
  background: linear-gradient(90deg, #c35ff5, #e480ff);
}

/*Titulo de la pagina*/
.settings-title-table{
  text-align: center;
}

/* Contenedor de la tabla */
.settings-table {
  width: 90%;
  max-width: 1500px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  margin-top: 20px;
  color: white;
}

/* Tabla */
.settings-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

/* Tiulos de las columnas */
.settings-table th {
  background: linear-gradient(90deg, #a23fd0, #c35ff5);
  padding: 12px;
  text-align: center;
  color: black;
  font-weight: 600;
  border-bottom: 2px solid rgba(255,255,255,0.2);
}

/* Fila de la tabla */
.settings-table tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,0.05);
}
.settings-table tbody tr:hover {
  background-color: rgba(255,255,255,0.15);
  transition: background 0.3s;
}

/* Celda de la tabla */
.settings-table td {
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/*Iconos de editar y eliminar*/
.settings-delete-icon, .settings-actions-icon{
  height: 30px;
  cursor: pointer;
}

/*Formulario de editar*/
.settings-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 90vh; 
  overflow-y: auto; 
  padding: 20px;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  z-index: 999;
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;  
}

/* Titulo del formulario de editar */
.settings-form h3{
  text-align: center;
}

/* Etiquetas en formulario */
.settings-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  font-size: 0.95rem;
}
.settings-label:first-of-type {
  margin-top: 0;
}

/*Inputs y textarea*/
.settings-form input, .settings-form textarea {
  width: 92%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(70, 70, 160, 0.8);
  color: white;
  font-size: 1rem;
}
.settings-form input:focus, .settings-form textarea:focus {
  background-color: #c35ff5;
  outline: none;
}
.settings-form textarea {
  min-height: 80px;
  resize: vertical;
}
/* Estilo de las flechas en el input number */
.settings-form input[type="number"]::-webkit-inner-spin-button, .settings-form input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

/* Botones de guardar y cancelar */
.settings-btns{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Botones de editar */
.settings-btn-edit {
  background: linear-gradient(90deg, #a23fd0, #c35ff5);
  margin-top: 10px;
  padding: 10px 70px;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}
.settings-btn-edit:hover {
  background: linear-gradient(90deg, #c35ff5, #e480ff);
}

/* Errores */
.error {
  color: #e74c3c;
  font-size: 0.875rem;
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
}

/*Quitar scroll*/
html, body {
  height: 100%;
  overflow-y: scroll;    
  scrollbar-width: none;    
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;         
}