@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo general */
body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(180deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  color: white;
}

/* Scrollbar personalizado para filas */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #6b21a8; /* morado */
  border-radius: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #111827;
}
